@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  width: 100%;
  text-align: center;
  background-color: #e3f6f5;
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
  margin-top: 70px;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/*==== header ====*/ 

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(225, 244, 244);
  width: auto;
  padding: 0 2em;
  height: 70px;
  z-index: 100;
}

.header-container a {
  text-decoration: none;
  color: black;
}

.shop-title {
  font-size: 48px;
  padding-top: 10px;
  color: rgb(0, 99, 177)
}

.show-searchbar {
  display: block;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(225, 244, 244);
  color: black;
  z-index: 200;
  border: none;
  transition: height .3s ease-out;
  font-weight: 300;
}

.show-searchbar span {
  position: relative;
  left: -5%;
  color: gray;
  fill: currentcolor;
  cursor: pointer;
  font-size: 20px;
}

.searchbar-hidden {
  display: none;
}

.search-bar{
  margin-top: 40px;
  width: 60%;
  height: 8px;
  padding: 20px 5px;
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-wrapper input {
  font-size: x-large;
  background-color: rgb(225, 244, 244);
}

.search-bar-wrapper input, .search-bar-wrapper a {
  margin-left: 1em;
}

.cart-icon {
  display: flex;
}

.basketCount {
  background-color: rgb(243, 109, 125);
  color: white;
  font-size: 12px;
  padding: 0 5px 2px 5px;
  vertical-align: top;
  height: 15px;
  border-radius: 100%;
  text-align: center;
  margin-left: -6px;
  font-weight: 500;
}

/* === Home Page === */

.featured-products {
  position: relative;
  width: 100%;
  background-color: white;
}

.shop-now {
  padding: 5px 10px;
  border: 1px solid white;
  background-color: gray;
  color: white;
  position: absolute;
  top: 83%;
  left: 50%;
  width: 120px;
  text-align: center;
}

.tagline {
  position: absolute;
  top: 72%;
  color: #4C4E52;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5vw;
  text-align: center;
  left: 5%;
}

.tagline p {
  margin: 0;
}

.collection-wrapper {
  display: grid;
  height: 100%;
}

.collection-wrapper img{
  width: 100%;
  height: 100%;
  margin: auto;
}

.img-box {
  position: relative;
  margin: 0;
  padding: 0;
}

.img-box h2 {
  position: absolute;
  font-size: large;
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 10px 50px;
  cursor: pointer;
  outline: none;
}

.collection-label {
  top: 0;
  left: 0;
}

.collection-label {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.collection-label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collection-label:hover, .collection-label:focus, .collection-label:active {
  color: white;
}
.collection-label:hover:before, .collection-label:focus:before, .collection-label:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.fashion-collection {
  margin-top: 40px;
}

/* === Login, Register, Contact === */

.form-container {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  width: 350px;
  outline: black;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  background-color: white;
}

.form-container h2 {
  margin-bottom: 50px;
}

.toggle-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-password p {
  padding-left: 5px;
}

input {
  font-size: 16px;
  padding: 12px 12px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

input:focus, .flex-register input:focus {
  border-bottom: solid 1px rgb(176, 139, 248);
  outline: none !important;
}

.header-container a {
  font-size: small;
  font-weight: 600;
}

.signup-form {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.signup-form p {
  margin: 0;
}

.signup-form a {
  text-decoration: none;
  color: #266cde;
}

button[type="submit"], .total-price> a {
  margin-top: 20px;
  padding: 7px 15px 7px 15px;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: rgb(255, 145, 0);
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.login-details {
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: center;
}

.login-user > p, .login-user > h6{
  text-align: left;
}

.login-user {
  margin-right: 40px;
}

.login-admin > p, .login-admin > h6 {
  text-align: left;
}

.contact-container {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.flex-input .subject {
  text-align: left;
}

.register, .register h2{
  margin-bottom: 5%;
}

.contact {
  margin-bottom: 10%;
}

.contact-container form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.flex-input {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  margin-top: 40px;
}

.flex-input input {
  margin-right: 20px;
}

.contact textarea {
  height: 120px;
  width: 90%;
  outline: none;
  font-family: sans-serif;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  outline: none;
  border: none;
}

.contact h1, .contact p {
  text-align: center;
}

.contact {
  text-align: left;
}

.register-container {
  width: 500px;
  align-items: left;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px 20px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.flex-register input {
  border-bottom: 1px solid gray;
  margin-right: auto;
  margin-left: auto;
  color: black;
  margin-bottom: 5px;
}

.flex-register {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.policy {
  color: rgb(0, 99, 177);
}

.flex-checkbox a {
  text-decoration: none;
}

.flex-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-checkbox p {
  margin-left: 10px;
}

/* === not found page === */


#notfound-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

#notfound-wrapper img {
  width: 550px;
  height: 550px;
}

#info a {
  text-decoration: none;
  border: 1px solid #696969;
  padding: 5px 10px;
  color: black;
  background-color: white;
}

#info a:hover {
  background-color: rgb(0, 99, 177);
  color: white;
}

/* === guest form ==*/

.guest-form-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.guest-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.guest-form {
  margin-top: 20px;
}

.guest-form p {
  font-weight: 600;
}

.flex {
  display: flex;
  padding-bottom: 10px;
}

.flex input{
  margin-right: 40px;
  padding: 15px;
}


/* === user-profile === */

.users-profile-wrapper {
  margin-top: 3%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 10% 40%;
  grid-gap: 5%;
  justify-content: center;
}

.username-wrapper {
  display: flex;
  justify-content: flex-start;
}

.user-information, #my-purchases {
  text-align: left;
}

.user-information {
  margin-top: 20px;
}

.user-information > p {
  text-align: left;
  padding: 10px 0;
}

.username {
  text-transform: uppercase;
  padding-left: 10px;
}

.personal-info-link, .my-purchases-link {
  cursor: pointer;
  text-decoration: none;
  color: gray;
  
}

.personal-info-link p, .my-purchases-link p {
  padding: 2px 5px;
  border: 4px;
  text-align: center;;
}

.personal-info-link p:hover, .my-purchases-link p:hover {
  background-color: 	rgb(0, 99, 177);;
  color: white; 
}

.user-information input {
  margin-left: 10px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.username-wrapper img {
  width: 64px;
  height: 64px;
}

.billing-address input {
  padding-bottom: 10px;
  margin-right: 20px;
}

.user-label-flex {
  display: flex;
  justify-content: space-between;
}

.billing-details {
  display: flex;
  justify-content: flex-start;
}

.edit {
  color: rgb(0, 99, 177);
  cursor: pointer;
}

.personal-details .billing-wrapper{
  padding-bottom: 10px;
}

/* === navigation bar === */

.navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
  margin-right: auto;
  margin-left: auto;
}

.navbar-container {
  width: 100%;
  background-color: rgb(225, 244, 244);
  z-index: 100;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: 630;
  font-size: large;
}

.nav {
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .2em;
  text-indent: .3em;
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .3s ease-in-out;
} 

span {
  margin-left: 12px;
}

/* === hamburger navigation bar === */


.hidden-nav-wrapper {
  display: none;
}

  #navbar-active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #navbar-hidden {
    display: none;
  }

/* === about page === */

.about-container {
  width: 50%;
  padding-top: 60px;
  margin: auto;
  height: 800px;
}

.about-container p {
  text-align: left;
}


/* === products page === */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5% 10%;
  grid-gap: 6em;

}
.grid-2 div > img {
  width: 380px;
  height: 390px;
}

.img-wrap {
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.img-add-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 99, 177, 0.92);
  padding: 5px 10px;
  border: 1px solid white;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  cursor: pointer;
}

.img-wrap:hover .img-add-cart {
  visibility: visible;
  opacity: 1;
}

.grid-2 a {
  text-decoration: none;
  color:rgb(0, 99, 177);
  letter-spacing: 0.3px;
  cursor: pointer;
}

.product-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.grid-2 p {
  margin: 0;
}

/* === Item details page === */

.grid-2-item {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5%;
  grid-gap: 1em;
}

.product-wrapper {
  padding: 20px;
  padding-bottom: 40px;
}

.product-wrapper img {
  width: 500px;
  height: 500px;
}

.go-back-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding: 5px 10px;
  height: 20px;
}


.go-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  cursor: pointer;
  background-color: rgb(0, 99, 177);
  color: white;
  padding: 0.5em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

.go-back:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 10px);
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(0, 99, 177) transparent transparent;
}
.go-back:hover:before, .go-back:focus:before, .go-back:active:before {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}


.product-details ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2em;
  margin: 0;
}

.item-title {
  text-transform: uppercase;
  color: rgb(0, 99, 177);
  letter-spacing: 0.3px;
}

.item-title:after {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 2px solid rgb(0, 99, 177);
}


/* === search page === */

.display {
  width: 100%;
}

.filtered_list {
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
}

.display-product {
  margin-bottom: 40px;
  align-items: center;
  margin-right: 20px;
}

.display-product img {
  width: 400px;
  height: 400px;
}

.display-product a {
  text-decoration: none;
  color: rgb(0, 99, 177);
  cursor: pointer;
}

.display-product a:hover {
  color: #00008B;
}

.product-not-found {
  width: 90%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.product-not-found h2 {
  margin-top: 150px;
  color: red;
}

.product-not-found h5 {
  margin-top: 80px;
}

.recommended-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recommended-products img {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 10px;
}

/* === cart page === */

.cart-wrapper {
  margin-top: 3%;
  margin-bottom: 10%;
}

.cart-items-div {
  width: 100%;
}

.cost-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reduce {
  line-height: 0.2em;
}

.cost-container p {
  font-size: small;
}

.total-price > a {
  text-decoration: none;
}

.grid2-checkout {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin: 0 5%;
}

.checkout-product {
  margin-top: 0;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-name {
  font-size: small;
  width: 100%;
}

.quantity-wrapper > button {
  outline: none;
  margin: 2px 12px;
  cursor: pointer;
}

.cart-wrapper > div > a {
  text-decoration: none;
}

.cart {
  width: 100%;
}

#cart {
  width: 100%;
}

#cart td, #cart th {
  padding: 0;
}

#cart th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
  text-align: center;
}

.cart-flex {
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 5% 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cart-title {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 5%;
  align-items: center;
}

.cart-title a {
  text-decoration: none;
  color: rgb(0, 99, 177);
}

.continue-shop {
  display: flex;
  align-items: center;
}

.continue-shop p {
  padding-right: 8px;
}

.total-cost {
  padding-top: 60px;
  padding-bottom: 20px;
}

.price-wrapper {
  background-color: #F5F5F6;
  padding-bottom: 40px;
}

.remove, .empty-cart {
  cursor: pointer;
  font-weight: 600;
}

.shop-now-button {
  text-decoration: none;
}

.shop-now-label {
  letter-spacing: 1px;
  padding: 7px 15px 7px 15px;
  background-color: rgb(255, 145, 0);
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer; 
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.total-price h3 {
  padding-top: 20px;
}

.empty-cart {
  color: blue;
  text-align: right;
  margin-right: 30px;
}

/* === checkout page === */

.checkout-wrapper {
  margin-top: 60px;
  margin-bottom: 120px;
}

.pay-div {
  margin: 20px auto 40px auto;
  border: 1px solid black;
  width: 300px;
  background-color: white;
}

.order-summary-label {
  width: 40%;
  margin-left: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 40px;
}

.order-summary-label p {
  text-align: left;
  margin-left: 10px;
  font-weight: 600;
}

.order-summary-wrapper {
  display: grid;
  grid-template-columns: 60% 30%;
  text-align: center;
  /* margin-left: 5%; */
}

.product-checkout-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}

.product-checkout {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 20px;
  grid-gap: 1em;
}

.product-checkout div > img {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.product-checkout > div > p {
  text-align: left;
}

.total-right-div {
  width: 50%;
}

.total-amount-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.subtotal p{
  margin-bottom: 0;
}

.subtotal {
  margin-top: 10px;
}

.item {
  padding-left: 110px;
}

.back {
  margin-top: 50px;
  background-color: rgb(0, 99, 177);
  color: white;
  padding: 10px 15px;
  width: 80px;
  float: left;
  margin-left: 10%;
  border: none;
  outline: none;
}

.total-amount {
  margin-top: 40px;
}

.pay-div button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.pay-text {
  font-size: small;
}

.shipping-address p, .shipping-address h3, .shipping-details {
  margin: 0;
  text-align: left;
}

.shipping-label {
  text-align: left;
  font-weight: 600;
}

.shipping-address {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

.shipping-details {
  margin-bottom: 20px;
  margin-top: 40px;
}

.shipping-grid2 {
  display: grid;
  grid-template-columns: 90% 10%;
}

.shipping-edit {
  color: rgb(0, 99, 177);
  cursor: pointer;
}

#shipping-form-active {
  position: absolute;
  margin-left: auto;  
  margin-right: auto; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.form-shipping-details {
  width: 60%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 20px;
  text-align: left;
}

#shipping-form-hidden {
  display: none;
}

.shipping-action {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-shipping-details h2 {
  text-align: center;
}

.edit-shipping-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  overflow:hidden;
}

.edit-shipping-grid2 input {
  border: 1px solid gray;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.edit-shipping-grid2 h3 {
  margin-top: 15px;
}

.edit-shipping-grid2 div {
  margin: 20px auto 0 auto;
}

.save-edit {
  background-color: rgb(255, 145, 0);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  outline: none;
}

.shipping-data-active button {
  margin-top: 160px;
}

.shipping-billing-active {
  display: block;
}

.cancel-edit {
  color: rgb(0, 99, 177);
  border: 1px solid gray;
  padding: 5px 10px;
  cursor: pointer;
}

/* === shipping and billing page === */

.shipping-billing {
  width: 100%;
}

.shipping-billing-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 60px 10% 80px 10%;
  gap: 1em;
}

.shipping-billing-wrapper p, .shipping-billing-wrapper h2, .shipping-billing-wrapper input {
  text-align: left;
}

.billing-checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 320px;
}

.shipping-data-active {
  display: block;
  margin-top: 40px;
}

.shipping-data-hidden {
  display: none;
}

.billing-label {
  margin-bottom: 40px;
}

.shipping-billing-grid2 {
  display: flex;
  align-items: flex-start;
}

.shipping-billing-grid2 div{
  margin-right: 1em;
}

.shipping-billing-grid2 h4, .shipping-billing-grid2 input, .shipping-billing-wrapper form {
  text-align: left;
}

.shipping-billing-wrapper form {
  width: 80%;
}

.shipping-billing-grid2 input {
  border: 1px solid gray;
}

.shipping-form-hidden {
  display: none;
}

.billing-user-address p, .shipping-data-active p{
  margin: 0;
}

.shipping-billing-wrapper input[type="checkbox"] {
  margin-right: 10px;
}

.shipping-billing-grid2 h4 {
  margin-bottom: 12px;
}

/* === guest form === */

.guest-checkout-wrapper {
  margin-top: 5%;
  margin-bottom: 7%;
  width: 100%;
}

.guest-checkout-wrapper h2 {
  margin-bottom: 50px;
}

.guest-checkout-grid3 {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.grid-3-box {
  border: 2px solid black;
  background-color: white;
  position: relative;
}

.benefits-box {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.grid-3-box li {
  text-align: left;
}

.guest-checkout a {
  width: 140px;
}

.checkout-login-button {
  background-color: rgb(255, 145, 0);
  color: white;
  padding: 12px 10px;
  width: auto;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  border: none;
  outline: none;
  left: 50%;
 -webkit-transform: translateX(-50%);
 -moz-transform: translateX(-50%);
 transform: translateX(-50%);
}

.grid-3-box h3 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.guest-message {
  margin-bottom: 140px;
}

.email {
  margin-bottom: 20px;
}

.grid-3-box a {
  text-decoration: none;
  background-color: rgb(255, 145, 0);
  color: white;
  padding: 7px 10px;
  border-radius: 2px;
  position: absolute;
  bottom: 5%;
  left: 50%;
 -webkit-transform: translateX(-50%);
 -moz-transform: translateX(-50%);
 transform: translateX(-50%);
}


.grid-3-box2 {
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 10%;
}

.grid-3-box ul {
  margin-bottom: 60px;
}

/* === privacy-policy / terms and condition === */

.privacy-policy,.terms-and-condition {
  width: 70%;
  margin: 2% auto 5% auto;
  text-align: left;
}

.privacy-policy-container h2, .terms-and-condition-wrapper h2 {
  margin-top: 60px;
}

.privacy-policy h3 {
  margin-top: 40px;
}

/* === guest form === */

.action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.continue-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
  background: rgb(255, 145, 0);
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
  color: white;
}
.continue-button:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(255, 145, 0);
}
.continue-button:hover:before, .continue-button:focus:before, .continue-button:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.guest-container a {
  text-decoration: none;
}

.delivery-details {
  margin-top: 40px;
}

/* === order confirmation === */

.order-confirmation {
  width: 50%;
  height: 400px;
  margin: 3% auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
}

.order-confirmation h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.order-successful-text {
  width: 100%;
  padding: 20px;
  background-color: white;
  color: rgb(0, 99, 177);
  margin-top: 5%;
  text-align: center;
  font-weight: 600;
}

.order-confirmation a {
  background-color: rgb(255, 145, 0);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.order-confirmation div {
  width: 80%;
  margin: 5% auto;
}

.assistance-text {
  margin-bottom: 80px;
}


/* === admin sidebar === */


.sidebar-wrapper {
  height: auto;
}

.sidebar-sticky {
  display: flex;
}

.sidebar-container {
  width: 20%;
  height: 850px;
  background-color: rgb(0, 99, 177) ;
  display: flex;
  align-self: start;
  left: 0;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
}

.sidebar-container ul {
  list-style-type: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 2em;
  padding: 1em;
} 

.sidebar-container li {
  color: white;
  text-align: top;
}

.sidebar-menu-items h1 {
  color: white;
  padding-top: 30px;
}

.sidebar-container span {
  margin-left: 7px;
  font-weight: 600;
  font-size: large;
}

.cursor-pointer{
  cursor:pointer
}

.sidebar-content {
  width: 80%;
  float: left;
  height: 850px;
} 

.sidebar-menu {
  background-color: rgb(0, 99, 177);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 850ms;
  top: 0;
}

.sidebar-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-text {
  display: flex;
  justify-self: start;
  align-self: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 50px; 
  cursor: pointer;
}

.sidebar-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.sidebar-text a:hover {
  background-color: #1F4788;;
}

.sidebar-menu-items {
  width: 100%;
}

.sidebar-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  margin-left: 10px;
}

.sidebar {
  display: none;
}

.category-div {
  margin-bottom: 1%;
}

.product-title-wrapper {
  background-color: rgb(217, 217, 217);
  width: 100%;
  border-bottom: none;
}

.searchProd {
  margin-right: 30px;
}

.products-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20%;
  margin-right: 10%;
}

/* === admin header === */

.admin-header-wrapper {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgb(217, 217, 217);
  border-left: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header-flex h1 {
  float: left;
  margin-left: 270px;
  color: rgb(0, 99, 177)
}

.admin-profile {
  width: 10%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-right: 15px;
}

.admin-name {
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: 550;
  letter-spacing: 0.5px;
}

.admin-header-wrapper p {
  color: black;
}


/* === admin dashboard === */

.admin-container {
  position: absolute;
  top: 10%;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 850px;
  display: flex;
  margin: 0;
}

.dashboard-wrapper {
  margin-left: 250px;
  margin-top: 150px;
}

.dashboard-div {
  border: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 150px;
  margin-top: 20px;
  background-color: white;
}

.dashboard-grid3 {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* === Admin add product === */

.add-product-wrapper {
  margin-left: 250px;
  padding-top: 120px;
  padding-bottom: 30px;
}

.left-right-wrapper {
  display: flex;
}

.left-div {
  width: 40%;
  margin-left: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 20px;
  background-color: #fff;
}

.right-div {
  width: 30%;
  margin-left: 50px;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #fff;
}

div.clear {
  clear: both;
  margin-top: 40px;
}

.label-wrapper {
  display: flex;
  flex-direction: row; 
  justify-content: left; 
  align-items: left;
  margin: 0 20px;
}

.label-wrapper > textarea {
  width: 80%;
  height: 100px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

.label-wrapper > input {
  padding-left: 15px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.shadow > select {
  margin-left: 40px;
  height: 30px;
  width: auto;
  margin-top: 20px;
  outline: none;
}

.upload-button {
  margin-left: 40px;
  border: 1px solid black;
  padding: 5px 10px;
  color: black;
  width: auto;
  margin-top: 20px;
  outline: none;
  background-color: #B5B4B4;
  cursor: pointer;
}

.clear > a {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  color:rgb(0, 99, 177);
}

.add-products-error-message {
  font-size: small;
  color: red;
}

/* === Admin Product page === */

.admin-sub-container {
  float: right;
}

.admin-product-container {
  width: 100%;
}

.admin-product-wrapper {
  margin-left: 250px;
}

.action, .image-title {
  display: flex;
}

.update-product {
  margin-right: 20px;
}

.products-grid-5 {
  display: grid;
  grid-template-columns: 37% 12% 20% 8% 10%;
  grid-column-gap: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(217, 217, 217)
}

.all-products-wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 5%;
  background-color: white;
}

.products-grid-5 p{
  text-align: left;
  word-wrap: break-word;
}

.product-img {
  width: 90px;
  height: 80px;
  padding: 10px;
  margin-right: 20px;
}

.admin-product-wrapper h1 {
  text-align: center;
  margin-top: 120px;
}


/* === Admin Category page === */

.category-wrapper {
  margin-left: 250px;
  margin-top: 150px;
  padding-bottom: 30px;
}

.show-product-form .form-wrapper {
  padding-bottom: 30px;
}

.category-form-wrapper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 0 40px 0;
  background-color: white;
}

.category-list {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.category-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column h5 {
  text-align: left;
}

.flex-column > textarea {
  height: 90px;
  padding: 10px;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  margin: 15px;
  text-align: left;
}

.delete-category {
  margin-left: 20px;
}

.enter-category {
  margin-right: 20px;
}

.hidden-form {
  display: none;
}

.show-form {
  display: block;
  background-color: rgb(235, 235, 236);
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-input-category {
  margin-left: 20px;
  margin-top: 10px;
  font-family: sans-serif;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-button {
  color: #266cde;
  cursor: pointer;
}

.submit-button {
  margin-left: 50px;
  border: 1px solid rgb(255, 145, 0);
  border-radius: 2px;
  padding: 8px 15px;
  cursor: pointer;
  background-color: rgb(255, 145, 0);
  color: white;
}

.product-list-link {
  cursor: pointer;
  margin-top: 20px;
}

.pictures_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.picture_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  width: 40%;
  height: 30%;
  border: 1px solid black;
  margin: 20px auto 20px auto;
}

.image-upload-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
}

.image-upload {
  display: block;
  width: 78px;
  height: 78px;
  overflow: hidden;
}

.button {
  height: 25%;
  width: 10%;
  outline: none;
  border: 2px solid #412CFF;
  border-radius: 10px;
  color: white;
  background-color: #0070FF;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
}


.new-input-category:-webkit-input-placeholder, .new-input-category::-moz-placeholder,
.new-input-category:-ms-input-placeholder, .new-input-category:-moz-placeholder {
  color: white;
} 

/* === update product page ===*/

.show-product-form { 
    position: absolute;  
    margin-left: auto;  
    margin-right: auto; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.form-wrapper {
  width: 30%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 20px;
}

.label-flex {
  display: flex;
}

.label-flex > input {
  margin-left: 20px;
}

.label-flex p, .description-wrapper p{
  font-weight: 600;
}

.description-wrapper > textarea {
  width: 70%;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  font-family: sans-serif;
  outline: none;
}

.category {
  margin-left: 20px;
  height: 30px;
  margin-top: 10px;
  outline: none;
}

.description-wrapper > p {
  text-align: left;
}

/* === users list page=== */

.userslist-main-container {
  width: auto;
  margin-top: 120px;
  margin-left: 250px;
}

.userslist-main-container h1 {
  text-align: center;
}

.userslist-table {
  width: 60%;
  border-collapse: collapse;
}

.userslist-table td {
  font-weight: 500;
}

.userslist-table td, .userslist-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.userslist-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0, 99, 177);
  color: white;
}

.userslist-table tr {
  background-color: #fff;
}

.userslist-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.userslist-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* === footer === */

footer {
  display: grid;
  grid-template-columns: 45% 30% 20%;
  line-height: 0.1em;
  padding: 1% 10%;
  grid-gap: 2em;
  background-color: rgb(0, 99, 177);
  color: white;
}

footer > div {
  text-align: left;
}

footer div > a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

.contact-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.contact-footer h6 {
  padding-left: 10px;
}


@media only screen and (max-width: 1600px) {
  .products-grid-5 {
  grid-column-gap: 2.5em;
  }
}

@media only screen and (max-width: 1500px) {
  .cart-flex {
    margin: 5% 10%;
  }

  .shop-now {
    left: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  .products-grid-5 {
  grid-column-gap: 2em;
  }

  .right-div {
    width: 40%;
    margin-left: 0;
  }

  .contact-container {
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .image-title {
    flex-direction: column;
  }

  .products-grid-5 {
  grid-template-columns: 18% 15% 35% 8% 15%;
  }

  .userslist-table {
    width: 80%;
  }

  .cart-flex {
    grid-template-columns: 75% 25%;
  }

  .shipping-billing-wrapper form {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .products-grid-5 {
  grid-column-gap: 1.8em;
  }

  .products-grid-5 > p {
    font-size: small;
  }

  .all-products-wrapper {
    margin-right: 10px;
  }

  .userslist-table, .product-checkout-wrapper {
    width: 80%;
  }

  .grid-2 div > img {
    width: 280px;
    height: 280px;
  }

  .dashboard-grid3 {
    width: 80%;
    grid-gap: 3em;
  }

  .right-div {
    width: 45%;
    margin-left: 0;
  }

  .left-div {
    width: 40%;
    margin-left: 70px;
  }

  .category-form-wrapper {
    width: 50%;
  }

  .clear > button, .clear > a {
    margin-top: 0;
  }

  .form-wrapper {
    width: 40%;
  }

  .product-wrapper img {
    width: 400px;
    height: 400px;
  }

  .order-summary-wrapper {
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 1100px) {

  .userslist-table th, .userslist-table > td {
    font-size: small;
  }

  .shadow > select {
    margin-left: 20px;
  }

  .category-form-wrapper {
    width: 60%;
  }

  .left-right-wrapper {
    display: flex;
    flex-direction: column;
  }

  .left-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .right-div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .products-grid-5 {
    grid-column-gap: 1.5em;
  }

  .sidebar-menu {
    width: 230px;
  } 

  .all-products-wrapper {
    margin-left: 2%;
  }

  .product-img {
    padding: 0;
  }

  .searchProd > input {
    font-size: 14px;
  }

  .userslist-main-container h1, .dashboard-wrapper h1, 
  .admin-product-wrapper h1, .add-product-wrapper > h1 {
    font-size: x-large;
  }

  .add-product-wrapper {
    padding-top: 100px;
  }

  .label-wrapper > textarea {
    height: 80px;
  }

  .shadow {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .shop-title {
    font-size: 40px;
  }

  .contact-container {
    width: 70%;
  }

  .sidebar {
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 10px;
  }

  .sidebar-text {
    padding: 8px 0px 8px 0px;
  }

  .admin-sidebar{
    display: none;
  }

  .userslist-wrapper, .add-product-wrapper, .guest-checkout-grid3 {
    width: 90%;
  }

  .userslist-main-container, .dashboard-wrapper, .add-product-wrapper, 
  .admin-product-wrapper, .category-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-flex h1 {
    margin-left: 60px;
    font-size: 25px;
  }

  .image-title p {
    font-size: small;
  }

  .cart-flex {
    margin: 5% 5%;
  }

  .shipping-billing-wrapper {
    margin: 40px 5%;
  }

  .shipping-billing-wrapper h2 {
    font-size: large;
  }

  .shipping-billing-wrapper input {
    font-size: 12px;
    padding: 10px;
  }

  .sidebar-text {
    height: 40px;
  }

  .jewelry {
    left: 5%; 
  }

  .order-confirmation {
    margin: 5% auto;
  }

  .users-profile-wrapper {
    grid-template-columns: 15% 50%;
  }

}

@media only screen and (max-width: 900px) {
  .grid-4 {
    gap: 0;
  }

  .grid2-checkout {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
  }

  .dashboard-div h3 {
    font-size: medium;
  }

  .dashboard-div {
    height: 100px;
  }

  .category-form-wrapper, .guest-checkout-grid3 {
    width: 70%;
  }

  .show-product-form .form-wrapper, .benefits-box {
    width: 50%;
  }

  .right-div {
    width: 78%;
  }

  .contact-container {
    width: 90%;
  }

  .cart-flex {
    grid-template-columns: 100%;
  }

  #cart td {
    padding: 12px 8px 0 8px;
  }

  .guest-checkout-grid3 {
    grid-template-columns: 100%;
    grid-gap: 1em;
  }

  .cheeky-login {
    padding-bottom: 60px;
  }

  .register-checkout-method {
    padding-bottom: 10px;
  }

  .grid-3-box2:not(.cheeky-login, .register-checkout-method) {
    padding-bottom: 0;
  }

  .order-summary-wrapper {
    grid-template-columns: 100%;
  }

  .order-summary-label, .pay-div {
    width: 80%;
  }

  .total-right-div {
    width: 100%;
  }

  .order-summary-wrapper {
    margin-left: none;
  }

  .product-checkout-wrapper {
    margin-left: 10%;
  }

  .back {
    margin-top: 0;
  }

  .form-shipping-details {
    width: 80%;
  }
} 

@media only screen and (max-width: 800px) {
  .grid-2 > div > p {
    margin: 0;
  }

  .form-container {
    padding: 0 0 20px 0;
  }

  .grid-2 div > img {
    width: 220px;
    height: 220px;
  }

  .dashboard-div h3 {
    font-size: small;
  }
  .category-form-wrapper {
  padding: 20px 20px 40px 20px;
  }

  .category-list {
    width: 60%;
  }

  .userslist-table {
    width: 90%;
  }

  .userslist-table td {
    font-size: small;
  }

  .shop-title {
    font-size: 38px;
  }

  .about-container {
    width: 70%;
    height: auto;
    padding-bottom: 60px;
  }
  
  .about-container {
    padding-top: 0;
  }

  .contact {
    margin-top: 0;
  }

  .navbar {
    width: 60%;
  }

  .product-wrapper img {
    width: 300px;
    height: 300px;
  }

  .cart-flex {
    margin: 8% 5%;
  }

  .order-confirmation {
    width: 60%;
  }

  .users-profile-wrapper {
    grid-template-columns: 20% 60%;
  }
}

@media only screen and (max-width: 700px) {
  .shop-title {
    font-size: 28px;
  }

  .product-image {
    width: 100px;
    height: 100px;
  }

  .admin-name {
    margin-right: 20px;
  }

  .sidebar-text a {
    font-size: 16px;
    padding: 5px;
  }

  .sidebar-menu-items > h1 {
    font-size: large;
    text-align: left;
  }

  .label-wrapper > input {
    width: 140px;
  }

  .category-list {
    width: 80%;
  }

  .category-list > div > p {
    font-size: small;
  }

  .show-product-form .form-wrapper {
    width: 60%;
  }

  .shadow > select {
    width: 80%;
    font-size: small;
  }

  .dashboard-grid3 {
    grid-template-columns: 100%;
  }

  .dashboard-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  input, .contact textarea {
    font-size: 14px;
  }

  .input {
    padding: 8px;
  }

  .grid-2 div > img {
    width: 180px;
    height: 180px;
  }

  .grid-2 {
    grid-gap: 4em;
  }

  .navbar {
    width: 70%;
  }

  .carousel-slider {
    background-color: white !important;
  }

  .carousel .slider-wrapper {
    height: auto !important;
  } 

  .product-img {
    width: 50px;
    height: 40px;
  }

  .products-grid-5 p {
    font-size: small;
  }

  .products-grid-5 {
    grid-column-gap: 1em;
  }

  .total-price h3 {
    padding-top: 0; 
  }

  .total-cost {
    padding-top: 30px;
  }

  .total-price a {
    font-size: 12px;
  }

  .shipping-billing-wrapper {
    width: 70%;
    grid-template-columns: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .billing-shipping-continue {
    float: none; 
  }

  .shipping-data-active button {
    margin-top: 40px;
  }

  .shipping-billing-grid2 h4 {
    margin-bottom: 5px;
  }

  .search-bar-wrapper input {
    font-size: large;
  }

  .img-box h2 {
    padding: 10px 30px;
  }

  .billing-checkbox-wrapper {
    margin-top: 30px;
  }

  .benefits-box {
    width: 60%;
  }

  .assistance-text {
    margin-bottom: 60px;
  }

  .edit-shipping-grid2 {
    grid-template-columns: 100%;
  }

  .form-shipping-details {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .label-wrapper > input {
    width: 80%;
  }

  p, .prev-data, .enter-category, 
  .benefits-box li, .description-wrapper > textarea {
    font-size: small;
  }

  .category {
    font-size: 11px;
  }

  button[type="submit"] {
    font-size: small;
  }
  
  .navbar a {
    font-size: medium;
    letter-spacing: 0;
    padding-bottom: 2px;
  }

  .signup-form a, .product-details label {
    font-size: small;
  }

  .grid-2-item {
    grid-template-columns: 100%;
    margin-left: 10%;
    margin-right: 10%; 
    grid-gap: 1em; 
  }

  .product-details p {
    line-height: 1em;
  }

  footer {
    grid-template-columns: 48% 28% 22%;
    padding-left: 5%;
    grid-gap: 1em;
  }

  .search-bar-wrapper a {
    margin-left: 0.5em;
  }

  .back-continue-wrapper {
    width: 100%;
  }

  .img-box h2 {
    padding: 8px 20px;
    font-size: medium;
  }

  .fashion-collection {
    font-size: medium;
  }

  .flex-register {
    flex-direction: column;
    margin-bottom: 0;
  }

  .flex-register input {
    padding: 8px;
  }

  .register-container {
    width: 300px;
  }

  .register-wrapper {
    margin-top: 30px;
  }

  .flex-checkbox p {
    padding-top: 10px;
  }

  .empty-cart-icon {
    width: 340px;
    height: 300px;
  }
}

@media only screen and (max-width: 560px) {
  .shop-title {
    font-size: 20px;
  }

  .admin-name {
    margin-right: 30px;
  }

  .upload-button {
    margin-left: 20px;
  }

  .choose-file {
    font-size: small;
    margin-left: 7px;
  } 

  input {
    font-size: 12px;
  }

  .contact-container form, .shipping-billing-wrapper {
    width: 90%;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .login input[type="text"], .login input[type="password"], 
  .show-product-form .form-wrapper {
    width: 70%;
  }

  .products-grid-5 {
    grid-column-gap: 0.8em;
  }

  .products-grid-5 p, .image-title p, .products-grid-5 h5{
    font-size: x-small;
    overflow-wrap: break-word;
  }

  .product-image {
    width: 80px;
    height: 80px;
  }

  .display, .show-searchbar {
    margin-top: 70px;
  }

  .display-product img {
    width: 180px;
    height: 180px;
  }

  .search-bar {
    margin-top: 20px;
  }

  .guest-container {
    width: 80%; 
  }

  .users-profile-wrapper h2 {
    font-size: large;
  }

  .form-shipping-details {
    width: 70%;
  }

  .form-shipping-details input {
    font-size: 14px;
    width: 90%;
  }   
}

@media only screen and (max-width: 490px) {
  .shop-title {
    margin-left: 15px;
  }

  .left-div {
    width: 90%;
    margin-bottom: 10px;
  }

  .right-div {
    width: 90%;
  }

  .shadow {
    margin: 0px 0px 10px 0;
  }

  .label-wrapper > input {
    width: 50%;
  }

  .shadow > select, .userslist-table th, .userslist-table td {
    font-size: x-small;
  }

  .header-container {
    padding: 0 0.5em;
  }

  .hidden-searchbar, footer h4 {
    font-size: small;
  }

  .form-container {
    width: 250px;
  }

  .flex-input {
    flex-direction: column;
  }

  .flex-input input[type="email"] {
    margin-top: 10px;
  }

  .flex-input {
    padding: 10px 0;
  }

  .contact input{
    width: 70%;
    font-size: small;
    padding: 8px;
  }

  .container textarea, .signup-form {
    width: 80%;
  }

  .container h1, .about-container h1 {
    font-size: x-large;
  }

  .login-user {
    margin-right: 20px;
  }

  footer {
    grid-template-columns: 100%;
    grid-gap: 10px;
    padding-left: 10%;
  }

  .contact-footer {
    height: 30px;
  }

  .product-details button {
    margin-top: 0;
  }

  .thumbs-wrapper ul > li > img, .thumbs-wrapper ul > li {
    width: 60px !important;
  } 

  .thumbs-wrapper {
    margin: 0;
  }

  .carousel .thumb {
    margin-right: 0;
  }

  .shop-now {
    top: 78%;
    left: 40%;
    font-size: 13px;
    padding: 3px 1px;
    width: 80px;
  }

  .update-product {
    margin-right: 5px;
  }

  .search-bar-wrapper input {
    font-size: medium;
    padding: 10px 5px;
  }

  .navbar {
    display: none;
  }

  #navbar-active {
    padding-top: 0;
  }

  .hidden-nav-wrapper {
    display: block;
  }

  .hidden-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .header-container {
    height: 50px;
  }

  .admin-header-wrapper {
    height: 60px;
  }

  .hidden-hamburger .MuiSvgIcon-root {
    margin-left: 10px;
    width: 1.2em;
    height: 1.2em;
  }

  #cart th {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
  }

  #cart td {
    font-size: small;
  }

  .cart-title h3, .total-price h3 {
    font-size: medium;
  }

  .remove svg {
    font-size: large;
  }

  #cart td {
    padding: 12px 0 0 0;
  }

  .quantity-wrapper > button {
    margin: 2px 5px;
  }

  .show-searchbar {
    top: 50px;
  }

  .show-searchbar button {
    border: none;
    background-color: none;
  }

  .show-searchbar span {
    font-size: 16px;
  }

  .contact-container {
    margin-top: 0;
  }

  .contact, .login-wrapper{
    margin-top: 30px;
  }

  .featured-products {
    margin-top: 20px;
  }

  .sidebar-text {
    height: 30px;
  }

  .sidebar-menu-items h1 {
    padding-top: 10px;
  }

  .category-wrapper, .dashboard-wrapper, .userslist-main-container, .admin-product-wrapper h1 {
    margin-top: 100px;
  }

  .dashboard-grid3 {
    grid-gap: 1em;
    margin-top: 0;
  } 

  .search-bar-wrapper {
    margin-right: 5px;
  }

  .about-container {
    padding-top: 10px;
  }

  .register-container, .benefits-box {
    width: 70%;
  }

  .products-grid-5 {
    grid-template-columns: 18% 19% 20% 11% 15%;
  }

  .grid-3-box h3 {
    margin-bottom: 10px;
  }

  .login-checkout-form {
    margin-bottom: 20px;
  }

  .guest-checkout-wrapper h2 {
    font-size: large;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .guest-form p {
    text-align: center;
  }

  .flex input:first-child {
    margin-bottom: 10px;
    width: inherit;
  }

  .flex input {
    margin-right: 0;
  }

  .guest-container h2 {
    text-align: center;
  }

  .product-checkout div > img {
    width: 130px;
    height: 130px;
  }

  .order-confirmation {
    width: 70%;
  }

  .order-confirmation {
    margin: 7% auto;
  }

  .empty-cart-icon {
    width: 280px;
    height: 240px;
  }

  .username-wrapper img {
    width: 46px;
    height: 46px;
  }

  .users-profile-wrapper {
    grid-template-columns: 80%;
  }

  .users-profile-wrapper {
    grid-gap: 2%;
  }
}


@media only screen and (max-width: 390px) {
  .shop-title {
    padding-left: 0;
  }

  .login-user p , .login-admin p {
    font-size: x-small;
  }

  .product-wrapper img {
    width: 200px;
    height: 200px;
  }

  #cart th {
    font-size: 12px;
  }

   .shipping-billing-grid2 {
    flex-direction: column;
  }

  .shipping-billing-wrapper input {
    padding: 8px;
  }

  .shipping-billing-wrapper {
    width: 60%;
  }

  .search-bar-wrapper input {
    font-size: small;
  }

  .img-box h2 {
    font-size: 13px;
  }

  .shop-now-label {
    padding: 4px 5px;
  }

  .register h2 {
    margin-bottom: 9%;
  }

  .benefits-box {
    width: auto;
  }

  .guest-checkout-wrapper h2 {
    font-size: medium;
  }

  .guest-checkout-grid3 {
    width: 80%;
  }
  .cart-title {
    margin-left: 5%;
  }

  .order-confirmation {
    width: 80%;
  }

  .empty-cart-icon {
    width: 240px;
    height: 200px;
  }

  .form-shipping-details input {
    width: 85%;
  }
}

@media only screen and (max-width: 350px) {
  .product-image {
    width: 60px;
    height: 60px;
  }
}






























