@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  width: 100%;
  text-align: center;
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
  margin-top: 70px;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}

/*==== header ====*/ 

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(225, 244, 244);
  width: auto;
  padding: 0 2em;
  height: 70px;
  z-index: 100;
}

.header-container a {
  text-decoration: none;
  color: black;
}

.shop-title {
  font-size: 48px;
  padding-top: 10px;
  color: rgb(0, 99, 177)
}

.search-bar {
  width: 120px;
  height: 8px;
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-wrapper input {
  font-size: small;
}

.search-bar-wrapper input, .search-bar-wrapper a {
  margin-left: 1em;
}

.cart-icon {
  display: flex;
}

.basketCount {
  background-color: rgb(243, 109, 125);
  color: white;
  font-size: 12px;
  padding: 0 5px 2px 5px;
  vertical-align: top;
  height: 15px;
  border-radius: 100%;
  text-align: center;
  margin-left: -6px;
  font-weight: 500;
}

/* === Home Page === */

.featured-products {
  position: relative;
  width: 100%
}

.shop-now {
  padding: 5px 10px;
  border: 1px solid white;
  background-color: gray;
  color: white;
  position: absolute;
  top: 83%;
  left: 50%;
  width: 120px;
  text-align: center;
}

.tagline {
  position: absolute;
  top: 72%;
  color: #4C4E52;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5vw;
  text-align: center;
  left: 5%;
}

.tagline p {
  margin: 0;
}

/* === Login, Register, Contact === */

.form-container {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  width: 350px;
  outline: black;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}

.form-container h2 {
  margin-bottom: 50px;
}

.toggle-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-password p {
  padding-left: 5px;
}

input {
  font-size: 16px;
  padding: 12px 12px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-bottom: solid 1px rgb(176, 139, 248);
  outline: none !important;
}

.signup-form {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.signup-form p {
  margin: 0;
}

.signup-form a {
  text-decoration: none;
  color: #266cde;
}

button[type="submit"], .total-price> a {
  margin-top: 20px;
  padding: 7px 15px 7px 15px;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: rgb(255, 145, 0);
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.login-details {
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: center;
}

.login-user > p, .login-user > h6{
  text-align: left;
}

.login-user {
  margin-right: 40px;
}

.login-admin > p, .login-admin > h6 {
  text-align: left;
}

.contact-container {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.flex-input .subject {
  text-align: left;
}

.register {
  margin-bottom: 5%;
}

.contact {
  margin-bottom: 10%;
}

.contact-container form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.flex-input {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 40px;
}

.contact textarea {
  height: 120px;
  width: 90%;
  outline: none;
  font-family: sans-serif;
  padding: 20px;
  font-size: 16px;
  margin-top: 20px;
}

.contact h1, .contact p {
  text-align: center;
}

.contact {
  text-align: left;
}

/* === user-profile === */

.users-profile-wrapper {
  margin-top: 5%;
  margin-bottom: 5%;
}

.user-information {
  width: 20%;
  margin: 40px auto 5% auto;
  text-align: left;
}

.user-information > p {
  text-align: left;
  padding: 10px 0;
}

/* === navigation bar === */

.navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
  margin-right: auto;
  margin-left: auto;
}

.navbar-container {
  width: 100%;
  background-color: rgb(225, 244, 244);
  position: sticky;
  z-index: 100;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: 630;
  font-size: large;
}

.nav {
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .2em;
  text-indent: .3em;
  border-bottom: 3px solid transparent;
}

.nav-active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .3s ease-in-out;
} 

span {
  margin-left: 12px;
}

/* === about page === */

.about-container {
  width: 50%;
  padding-top: 60px;
  margin: auto;
  height: 800px;
}

.about-container p {
  text-align: left;
}


/* === products page === */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5% 10%;
  grid-gap: 6em;

}
.grid-2 div > img {
  width: 380px;
  height: 380px;
}

.img-wrap {
  position: relative;
  text-align: center;
}

.img-add-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 99, 177, 0.92);
  padding: 5px 10px;
  border: 1px solid white;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  cursor: pointer;
}

.img-wrap:hover .img-add-cart {
  visibility: visible;
  opacity: 1;
}

.grid-2 a {
  text-decoration: none;
  color:rgb(0, 99, 177);
  letter-spacing: 0.3px;
  cursor: pointer;
}

.product-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.grid-2 p {
  margin: 0;
}


/* === Item details page === */

.grid-2-item {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 5% 0;
  grid-gap: 1em;
}

.product-wrapper {
  padding: 20px;
}

.product-wrapper img {
  width: 500px;
  height: 500px;
}

.go-back-flex {
  width: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  padding: 5px 10px;
  height: 20px;
}

.go-back-flex:hover {
  background-color: #d3d3d3;
}

.product-details ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2em;
  margin: 0;
}

.item-title {
  text-transform: uppercase;
  color: rgb(0, 99, 177);
  letter-spacing: 0.3px;
}

.item-title:after {
    content: '';
    display: block;
    width: 50px;
    border-bottom: 2px solid rgb(0, 99, 177);
}


/* === cart page === */

.cart-wrapper {
  margin-top: 3%;
  margin-bottom: 10%;
}

.cost-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reduce {
  line-height: 0.2em;
}

.cost-container p {
  font-size: small;
}

.total-price > a {
  text-decoration: none;
}

.grid2-checkout {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin: 0 5%;
}

.grid2-checkout img {
  padding-right: 20px;
}

.checkout-product {
  margin-top: 0;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-name {
  font-size: small;
  width: 100%;
}

.quantity-wrapper > button {
  border: none;
  outline: none;
  margin: 2px 12px;
  cursor: pointer;
}

.cart-wrapper > div > a {
  text-decoration: none;
}

.continue-shopping {
  border: 1px solid black;
  padding: 5px;
  width: 15%;
  margin-left: 10%;
  color: rgb(0, 99, 177);
}

.cart {
  width: 100%;
}

#cart {
  width: 100%;
}

#cart td, #cart th {
  padding: 12px 8px;
}

#cart th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
  text-align: center;
}

.cart-flex {
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 5% 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cart-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total-cost {
  padding-top: 60px;
  padding-bottom: 20px;
}

.price-wrapper {
  background-color: #F5F5F6;
}

.remove {
  cursor: pointer;
}

.shop-now-button {
  text-decoration: none;
}

.shop-now-label {
  letter-spacing: 1px;
  padding: 7px 15px 7px 15px;
  background-color: rgb(255, 145, 0);
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer; 
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* === checkout page === */

.checkout-wrapper {
  margin-top: 40px;
}

.pay-div {
  margin: 0 auto;
  border: 1px solid black;
  width: 300px;
  height: 180px;
  margin-bottom: 40px;
}

.order-summary-label {
  width: 35%;
  margin-left: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 40px;
}

.order-summary-label p {
  text-align: left;
  margin-left: 10px;
  font-weight: 600;
}

.order-summary-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-checkout-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}

.product-checkout {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 20px;
  grid-gap: 1em;
}

.product-checkout div > img {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.product-checkout > div > p {
  text-align: left;
}

.total-right-div {
  width: 50%;
}

.total-amount-container {
  display: flex;
  justify-content: space-evenly;
}

.item {
  padding-left: 110px;
}

.back-to-cart {
  margin-top: 10px;
  color: rgb(0, 99, 177);
  padding: 5px 10px;
}

.pay-text {
  font-size: small;
  margin-top: 30px;
}


/* === admin sidebar === */


.sidebar-wrapper {
  height: auto;
}

.sidebar-sticky {
  display: flex;
}

.sidebar-container {
  width: 20%;
  height: 850px;
  background-color: rgb(0, 99, 177) ;
  display: flex;
  align-self: start;
  left: 0;
  z-index: 1;
  position: sticky;
}

.sidebar-container ul {
  list-style-type: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 2em;
  padding: 1em;
} 

.sidebar-container li {
  color: white;
  text-align: top;
}

.sidebar-menu-items h1 {
  color: white;
  padding-top: 30px;
}

.sidebar-container span {
  margin-left: 7px;
  font-weight: 600;
  font-size: large;
}

.cursor-pointer{
  cursor:pointer
}

.sidebar-content {
  width: 80%;
  float: left;
  height: 850px;
} 

.sidebar-menu {
  background-color: rgb(0, 99, 177);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 850ms;
  top: 0;
}

.sidebar-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-text {
  display: flex;
  justify-self: start;
  align-self: center;
  padding: 8px 0px8px 16px;
  list-style: none;
  height: 60px; 
  cursor: pointer;
}

.sidebar-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.sidebar-text a:hover {
  background-color: #1F4788;;
}

.sidebar-menu-items {
  width: 100%;
}

.sidebar-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  margin-left: 10px;
}

.sidebar {
  display: none;
}

.products-flex {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 3%;
}

.category-div {
  margin-bottom: 1%;
}

.product-title-wrapper {
  background-color: rgb(217, 217, 217);
  width: 100%;
  border-bottom: none;
}

.searchProd {
  margin-right: 30px;
}

.products-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 20%;
  margin-right: 10%;
}

/* === admin header === */

.admin-header-wrapper {
  background-color: rgb(225, 244, 244);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgb(217, 217, 217);
  border-left: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header-flex h1 {
  float: left;
  margin-left: 270px;
  color: rgb(0, 99, 177)
}

.admin-profile {
  width: 10%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-right: 15px;
}

.admin-name {
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: 550;
  letter-spacing: 0.5px;
}

.admin-header-wrapper p {
  color: black;
}


/* === admin dashboard === */

.admin-container {
  position: absolute;
  top: 10%;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 850px;
  display: flex;
  margin: 0;
}

.dashboard-wrapper {
  margin-left: 250px;
  margin-top: 150px;
}

.dashboard-div {
  border: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 150px;
  margin-top: 20px;
}

.dashboard-grid3 {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* === Admin add product === */

.add-product-wrapper {
  margin-left: 250px;
  padding-top: 120px;
}

.left-right-wrapper {
  display: flex;
}

.left-div {
  width: 40%;
  margin-left: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 20px;
}

.right-div {
  width: 30%;
  margin-left: 50px;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

div.clear {
  clear: both;
  margin-top: 40px;
}

.label-wrapper {
  display: flex;
  flex-direction: row; 
  justify-content: left; 
  align-items: left;
  margin: 0 20px;
}

.label-wrapper > textarea {
  width: 80%;
  height: 100px;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
}

.label-wrapper > input {
  padding-left: 15px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.shadow > select {
  margin-left: 40px;
  height: 30px;
  width: auto;
  margin-top: 20px;
  outline: none;
}

.upload-button {
  margin-left: 40px;
  border: 1px solid black;
  padding: 5px 10px;
  color: black;
  width: auto;
  margin-top: 20px;
  outline: none;
  background-color: #B5B4B4;
  cursor: pointer;
}

.clear > a {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  color:rgb(0, 99, 177);
}

.add-products-error-message {
  font-size: small;
  color: red;
}

/* === Admin Product page === */

.admin-sub-container {
  float: right;
}

.admin-product-container {
  width: 100%;
}

.admin-product-wrapper {
  margin-left: 250px;
  padding-top: 80px;
}

.action {
  display: flex;
}

.update-product {
  margin-right: 20px;
}

.products-grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 37% 12% 20% 8% 10%);
  grid-column-gap: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(217, 217, 217)
}

.all-products-wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
  margin-bottom: 5%;
  background-color: white;
}

.products-grid-5 h5{
  text-align: left;
  word-wrap: break-word;
}

.product-img {
  width: 90px;
  height: 80px;
  padding: 10px;
  margin-right: 20px;
}

.image-title {
  display: flex;
}


/* === Admin Category page === */

.category-wrapper {
  margin-left: 250px;
  margin-top: 150px;
}

.category-form-wrapper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 0 40px 0;
}

.category-list {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.category-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column h5 {
  text-align: left;
}

.flex-column > textarea {
  height: 90px;
  padding: 10px;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  margin: 15px;
  text-align: left;
}

.delete-category {
  margin-left: 20px;
}

.enter-category {
  margin-right: 20px;
}

.hidden-form {
  display: none;
}

.show-form {
  display: block;
  background-color: rgb(235, 235, 236);
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-input-category {
  margin-left: 20px;
  margin-top: 10px;
  font-family: sans-serif;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-button {
  color: #266cde;
  cursor: pointer;
}

.submit-button {
  margin-left: 50px;
  border: 1px solid rgb(255, 145, 0);
  border-radius: 2px;
  padding: 8px 15px;
  cursor: pointer;
  background-color: rgb(255, 145, 0);
  color: white;
}

.product-list-link {
  cursor: pointer;
  margin-top: 20px;
}

.pictures_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.picture_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  width: 40%;
  height: 30%;
  border: 1px solid black;
  margin: 20px auto 20px auto;
}

.image-upload-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
}

.image-upload {
  display: block;
  width: 78px;
  height: 78px;
  overflow: hidden;
}

.button {
  height: 25%;
  width: 10%;
  outline: none;
  border: 2px solid #412CFF;
  border-radius: 10px;
  color: white;
  background-color: #0070FF;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.1em;
  cursor: pointer;
}


.new-input-category:-webkit-input-placeholder {
  color: white;
} 
.new-input-category::-moz-placeholder { 
  color: white;
}
.new-input-category:-ms-input-placeholder { 
  color: white;
}
.new-input-category:-moz-placeholder {
  color: white;
}

/* === update product page ===*/

.show-product-form { 
    position: absolute;  
    margin-left: auto;  
    margin-right: auto; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.form-wrapper {
  width: 30%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 20px;
}

.label-flex {
  display: flex;
}

.label-flex > input {
  margin-left: 20px;
}

.label-flex p, .description-wrapper p{
  font-weight: 600;
}

.description-wrapper > textarea {
  width: 70%;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  font-family: sans-serif;
  outline: none;
}

.category {
  margin-left: 20px;
  height: 30px;
  margin-top: 10px;
  outline: none;
}

.description-wrapper > p {
  text-align: left;
}

/* === users list page=== */

.userslist-main-container {
  width: auto;
  margin-top: 120px;
  margin-left: 250px;
}

.userslist-main-container h1 {
  text-align: center;
}

.userslist-table {
  width: 60%;
  border-collapse: collapse;
}

.userslist-table td {
  font-weight: 500;
}

.userslist-table td, .userslist-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.userslist-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0, 99, 177);
  color: white;
}

.userslist-table tr:hover {
  background-color: #ddd;
}

.userslist-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.userslist-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* === footer === */

footer {
  display: grid;
  grid-template-columns: 45% 30% 20%;
  background-color: rgb(225, 244, 244);;
  color: rgb(0, 99, 177);
  line-height: 0.1em;
  padding: 1% 10%;
  grid-gap: 2em;
}

footer > div {
  text-align: left;
}

footer div > a {
  text-decoration: none;
  color: rgb(0, 99, 177);;
  margin: 0;
}

.contact-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.contact-footer h6 {
  padding-left: 10px;
}


@media only screen and (max-width: 1600px) {
  .products-grid-5 {
  grid-column-gap: 2.5em;
  }
}

@media only screen and (max-width: 1500px) {
  .cart-flex {
    margin: 5% 10%;
  }

  .shop-now {
    left: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  .products-grid-5 {
  grid-column-gap: 2em;
  }

  .right-div {
    width: 40%;
    margin-left: 0;
  }

  .contact-container {
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .image-title {
    flex-direction: column;
  }

  .products-grid-5 {
  grid-template-columns: repeat(5, 18% 15% 35% 8% 15%);
  }

  .userslist-table {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .products-grid-5 {
  grid-column-gap: 1.8em;
  }

  .products-grid-5 > p {
    font-size: small;
  }

  .all-products-wrapper {
    margin-right: 10px;
  }

  .userslist-table {
    width: 80%;
  }

  .grid-2 div > img {
    width: 280px;
    height: 280px;
  }

  .dashboard-grid3 {
    width: 80%;
    grid-gap: 3em;
  }

  .right-div {
    width: 45%;
    margin-left: 0;
  }

  .left-div {
    width: 40%;
    margin-left: 70px;
  }

  .category-form-wrapper {
    width: 50%;
  }

  .clear > button {
    margin-top: 0;
  }

  .clear > a {
    margin-top: 0;
  }

  .form-wrapper {
    width: 40%;
  }

  .product-wrapper img {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 1100px) {

  .userslist-table th {
    font-size: small;
  }

  .userslist-table > td {
    font-size: small;
  }

  .shadow > select {
    margin-left: 20px;
  }

  .category-form-wrapper {
    width: 60%;
  }

  .left-right-wrapper {
    display: flex;
    flex-direction: column;
  }

  .left-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .right-div {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .products-grid-5 {
    grid-column-gap: 1.5em;
  }

  .sidebar-menu {
    width: 230px;
  } 

  .all-products-wrapper {
    margin-left: 2%;
  }

  .product-img {
    padding: 0;
  }

  .products-flex > div > h2 {
    font-size: large;
  }

  .searchProd > input {
    font-size: 14px;
  }

  .add-product-wrapper > h1 {
    font-size: x-large;
  }

  .userslist-main-container h1, .dashboard-wrapper h1 {
    font-size: x-large;
  }

  .add-product-wrapper {
    padding-top: 100px;
  }

  .label-wrapper > textarea {
    height: 80px;
  }

  .shadow {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .shop-title {
    font-size: 40px;
  }

  .contact-container {
    width: 70%;
  }

  .cart-flex {
    grid-template-columns: 75% 25%;
  }
}

@media only screen and (max-width: 900px) {
  .grid-4 {
    gap: 0;
  }

  .grid2-checkout {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
  }

  .dashboard-div h3 {
    font-size: medium;
  }

  .dashboard-div {
    height: 100px;
  }

  .category-form-wrapper {
    width: 70%;
  }

  .show-product-form .form-wrapper {
    width: 50%;
  }

  .right-div {
    width: 78%;
  }

  .contact-container {
    width: 90%;
  }
} 

@media only screen and (max-width: 800px) {
  .grid-2 > div > p {
    margin: 0;
  }

  .form-container {
    padding: 0 0 20px 0;
  }

  .grid-2 div > img {
    width: 220px;
    height: 220px;
  }

  .dashboard-div h3 {
    font-size: small;
  }
  .category-form-wrapper {
  padding: 20px 20px 40px 20px;
  }

  .category-list {
    width: 60%;
  }

  .userslist-table {
    width: 90%;
  }

  .userslist-table td {
    font-size: small;
  }

  .shop-title {
    font-size: 38px;
  }

  .about-container {
    width: 70%;
    height: auto;
    padding-bottom: 60px;
  }

  .navbar {
    width: 60%;
  }

  .product-wrapper img {
    width: 300px;
    height: 300px;
  }

  .cart-flex {
    margin: 8% 5%;
  }
}

@media only screen and (max-width: 700px) {
  .shop-title {
    font-size: 28px;
  }

  .product-image {
    width: 100px;
    height: 100px;
  }

  .admin-name {
    margin-right: 20px;
  }

  .sidebar-text a {
    font-size: 16px;
    padding: 0;
  }

  .sidebar-menu-items > h1 {
    font-size: large;
    text-align: left;
  }

  .label-wrapper > input {
    width: 140px;
  }

  .category-list {
    width: 80%;
  }

  .category-list > div > p {
    font-size: small;
  }

  .show-product-form .form-wrapper {
    width: 60%;
  }

  .shadow > select {
    width: 80%;
    font-size: small;
  }

  .dashboard-grid3 {
    grid-template-columns: 100%;
  }

  .dashboard-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-flex h1 {
    margin-left: 60px;
    font-size: 25px;
  }

  .sidebar {
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 10px;
  }

  .admin-sidebar{
    display: none;
  }

  .userslist-wrapper, .add-product-wrapper {
    width: 90%;
  }

  .userslist-main-container, .dashboard-wrapper, .add-product-wrapper, .admin-product-wrapper, .category-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  input, .contact textarea {
    font-size: 14px;
  }

  .input {
    padding: 8px;
  }

  .grid-2 div > img {
    width: 180px;
    height: 180px;
  }

  .grid-2 {
    grid-gap: 4em;
  }

  .navbar {
    width: 70%;
  }

  .carousel-slider {
    background-color: white !important;
  }

  .carousel .slider-wrapper {
    height: auto !important;
  } 

  /* .tagline {
    font-size: 10vw;
    width: 340px;
    left: 20px;
  } */
}

@media only screen and (max-width: 600px) {
  .label-wrapper > input {
    width: 80%;
  }

  .MuiSvgIcon-root {
    fill: black 1important;
  }

  p, .prev-data, .enter-category {
    font-size: small;
  }

  .description-wrapper > textarea {
    font-size: small;
  }

  .category {
    font-size: 11px;
  }

  button[type="submit"] {
    font-size: small;
  }
  
  .navbar a {
    font-size: medium;
    letter-spacing: 0;
  }

  .signup-form a {
    font-size: small;
  }

  .product-details label {
    font-size: small;
  }

  .grid-2-item {
    grid-template-columns: 100%;
    margin-left: 10%;
    margin-right: 10%; 
    grid-gap: 1em; 
  }

  .product-details p{
    line-height: 1em;
  }

  footer {
    grid-template-columns: 48% 28% 22%;
    padding-left: 5%;
    grid-gap: 1em;
  }

  .about-container {
    padding-top: 20px;
  }

  .search-bar-wrapper a {
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 560px) {
  .shop-title {
    font-size: 18px;
  }

  /* .searchbar input {
    padding: 5px 5px;
  } */

  /* .searchbar input, .searchbar a {
    margin-left: 0.5em;
  } */

  .show-product-form .form-wrapper {
    width: 70%;
  }

  .admin-name {
    margin-right: 30px;
  }

  .upload-button {
    margin-left: 20px;
  }

  .choose-file {
    font-size: small;
    margin-left: 7px;
  } 

  input {
    font-size: 12px;
  }

  .contact-container form {
    width: 90%;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .login input {
    width: 70%;
  }
}

@media only screen and (max-width: 490px) {
  .shop-title {
    font-size: 18px;
    padding: 0 10px;
  }

  .left-div {
    width: 90%;
  }

  .right-div {
    width: 90%;
  }

  .shadow {
    margin: 0px 0px 10px 0;
  }

  .label-wrapper > input {
    width: 50%;
  }

  .shadow > select {
    font-size: x-small;
  }

  .userslist-table th {
    font-size: x-small;
  }

  .userslist-table td {
    font-size: x-small;
  }

  .navbar a {
    font-size: small;
  }

  .header-container {
    padding: 0 0.5em;
  }

  .search-bar {
    width: 60px;
    height: 1px;
  }

  .search-bar-wrapper input {
    font-size: x-small;
  }

  .header-container a {
    font-size: small;
  }

  .form-container {
    width: 250px;
  }

  .flex-input {
    flex-direction: column;
  }

  .flex-input input[type="email"] {
    margin-top: 10px;
  }

  input {
    width: 70%;
    font-size: small;
    padding: 8px;
  }

  .container textarea {
    width: 80%;
  }

  .container h1, .about-container h1 {
    font-size: x-large;
  }

  .signup-form {
    width: 80%;
  }

  .login-user {
    margin-right: 20px;
  }

  footer {
    grid-template-columns: 100%;
    grid-gap: 10px;
    padding-left: 10%;
  }

  footer h4 {
    font-size: small;
  }

  .contact-footer {
    height: 30px;
  }

  .product-details button {
    margin-top: 0;
  }

  .thumbs-wrapper ul > li > img, .thumbs-wrapper ul > li {
    width: 60px !important;
  } 

  .thumbs-wrapper {
    margin: 0;
  }

  .carousel .thumb {
    margin-right: 0;
  }

  .shop-now {
    top: 78%;
    left: 40%;
    font-size: x-small;
    padding: 3px 1px;
    width: 80px;
  }
}

@media only screen and (max-width: 390px) {
  .shop-title {
    font-size: 16px;
    padding-left: 0;
  }

  .login-user p , .login-admin p {
    font-size: x-small;
  }

  .product-wrapper img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 340px) {
  .shop-title {
    font-size: 12px; 
  }
}






























