.carousel .slider-wrapper {
    height: 640px !important;
    max-width: 650px !important;
}

.slide img {
    height: auto !important;
    max-width: 100% !important;
}

.control-arrow:hover, .control-next:hover{
    background: none !important;
}

.carousel-slider{
    background-color: #d3e0ea;
}

.thumbs {
    margin-right: auto !important;
    margin-left: auto !important;
}

.carousel .slide {
    background: none !important;
}